.carousel-container {
    min-height: 400px;
    margin-top: 64px;
    margin-bottom: 48px;
}

.carousel-container .post {
    display: none;
    margin-bottom: 0;
}

.carousel-container.owl-loaded .post {
    display: block;
}

.carousel-container .post-header {
    flex-direction: column;
}

.carousel-container .post-title {
    font-size: 2rem;
    line-height: 1.2;
}

@media (max-width: 767px) {
    .carousel-container {
        margin-top: 24px;
        margin-bottom: 0;
    }
}

.carousel-item {
    padding: 16px;
    background-color: rgba(199, 199, 199, 0.219);
    border-radius: 8px;
    transition: transform 0.2s;
}

.carousel-item:hover {
    /* transform: scale(1.05); */
    /* Raise the card vertically a little bit on hover */
    transform: translateY(-8px);
}

.carousel-item-image {
    border-radius: 8px;
}