/* Custom font definitions via @font-face and custom settings */

/* References: */
/* https://www.w3schools.com/cssref/atrule_font-face.php */
/* https://ghost.org/docs/themes/custom-settings#setting-up-support-for-custom-fonts */

@font-face {
    font-family: Lovers Quarrel;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/LoversQuarrel-Regular.ttf");
}

/* Custom font applications */
body {
    font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

.decorated-font {
    font-family: var(--decorated-font-family);
}