/* Custom font definitions via @font-face and custom settings */

/* References: */
/* https://www.w3schools.com/cssref/atrule_font-face.php */
/* https://ghost.org/docs/themes/custom-settings#setting-up-support-for-custom-fonts */

@font-face {
    font-family: Lovers Quarrel;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/LoversQuarrel-Regular.ttf");
}

@font-face {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: Lustria;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lustria-Regular.ttf");
}

@font-face {
    font-family: Forum;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Forum-Regular.ttf");
}

@font-face {
    font-family: Ubuntu;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Martel;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Martel-Regular.ttf");
}

@font-face {
    font-family: Arima;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Arima-Regular.ttf");
}

@font-face {
    font-family: Imprima;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Imprima-Regular.ttf");
}

@font-face {
    font-family: Mulish;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Mulish-Regular.ttf");
}

@font-face {
    font-family: Norican;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Norican-Regular.ttf");
}

@font-face {
    font-family: Lora;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Lora-Regular.ttf");
}

@font-face {
    font-family: Hind Madurai;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/HindMadurai-Regular.ttf");
}

@font-face {
    font-family: Miltonian;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Miltonian-Regular.ttf");
}  

@font-face {
    font-family: Cherry Swash;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/CherrySwash-Regular.ttf");
}

@font-face {
    font-family: Cherry Bomb;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/CherryBombOne-Regular.ttf");
}

@font-face {
    font-family: Bigelow Rules;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/BigelowRules-Regular.ttf");
}

@font-face {
    font-family: Elsie;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Elsie-Regular.ttf");
}

/* Custom font applications */
body {
    font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

.decorated-font {
    font-family: var(--decorated-font-family);
}