:root {
    --primary-color: var(--ghost-accent-color, #49a8e4);
    --primary-text-color: #333;
    --secondary-text-color: #aaa;
    --red-color: #ff7473;
    --white-color: #fff;
    --light-gray-color: #f1f1f1;
    --mid-gray-color: #d9d9d9;
    --dark-gray-color: #1a1a1a;
    --black-color: #000;
    --bg-color: #ffffff;
    --dark-mode-bg-color: #282c35;
    --dark-mode-darker-bg-color: #21252c;
    --dark-mode-primary-text-color: #ccc;
    --dark-mode-secondary-text-color: #999;
    --dark-mode-border-color: #495061;
    --animation-base: ease-in-out;
    --shadow-base: 0 0 5px rgba(0, 0, 0, 0.2);
    --content-font-size: 1.7rem;
    --header-spacing: 60px;
}

/* TODO: ADD REMAINING DARK AND LIGHT MODE VARIABLES TO CUSTOM SETTINGS */
/* Refer to https://ghost.org/docs/themes/custom-settings/#color for guidance */