{{!< default}}

<main id="home-main">
    {{!-- Hero section, featuring image, prompt to subscribe (for those not subscribed),
    links, etc. --}}


    {{!-- Latest posts section --}}
    {{#if @custom.highlight_latest_posts}}
        <section class="home-latest gh-outer">
            <div class="gh-inner">
                <h2>fresh off the press!</h2>
                {{!-- Latest blog and podcast section --}}
                <div class="latest-content">
                    <div class="latest-blog">
                        <h2>Latest Blog Post</h2>
                        <!-- Latest blog posts will go here -->
                    </div>
                    <div class="latest-podcasts">
                        <h2>Latest Podcast</h2>
                        <!-- Latest podcast episodes will go here -->
                    </div>
                </div>
            </div>
        </section>
    {{/if}}

    {{!-- Exploration by topic (i.e. tag) section --}}
    <section class="home-topics gh-outer">
        <div class="gh-inner">
            {{!-- Categories in "topic-minimal" style will go here --}}
            {{!-- Get all tags except for blog and podcast --}}
            {{!-- TODO: MAKE THESE TAGS A CUSTOM SETTING --}}
            {{#get "tags" filter='slug:-blog+slug:-podcast' include="count.posts" order="count.posts desc"}}
                <div class="gh-topic-list">
                    {{#foreach tags}}
                        {{> "topic-exploration"}}
                    {{/foreach}}
                </div>
            {{/get}}
        </div>
    </section>
</main>