{{!< default}}

<main id="home-main">
    {{!-- Latest blog and podcast section --}}
    <section class="home-latest gh-outer">
        <div class="gh-inner">
            <h2>Latest Content</h2>
            <div class="latest-content">
                <div class="latest-blog">
                    <h2>Latest Blog Post</h2>
                    <!-- Latest blog posts will go here -->
                </div>
                <div class="latest-podcasts">
                    <h2>Latest Podcast</h2>
                    <!-- Latest podcast episodes will go here -->
                </div>
            </div>
        </div>
    </section>

    {{!-- Featured posts section --}}
    <section class="home-featured gh-outer">
        {{!-- If the featured post carousel has been specified in the theme settings --}}
        {{#if @custom.show_featured_posts}}
            <h2 class="gh-inner">Featured Posts</h2>
            {{!-- Get all posts that are featured and include tags in the response --}}
            {{#get "posts" filter="featured:true" limit="all" include="tags"}}
                {{!-- Render each post in a responsive carousel --}}
                {{> "carousel"}}
            {{/get}}
        {{/if}}
    </section>

    {{!-- Exploration by category (i.e. tag) section --}}
    <section class="home-categories gh-outer">
        <div class="gh-inner">
            <h2>Explore by Category</h2>
            <div class="gh-inner">
                    {{!-- Categories in "topic-minimal" style will go here --}}
                    {{!-- Get all tags except for blog and podcast --}}
                    {{#get "tags" filter='slug:-blog+slug:-podcast' include="count.posts" order="count.posts desc"}}
                        <div class="gh-topic-list">
                            {{#foreach tags}}
                                {{> "topic-minimal"}}
                            {{/foreach}}
                        </div>
                    {{/get}}
            </div>
        </div>
    </section>
</main>