{{!< default}}

<main id="home-main">
    {{!-- Hero section, featuring image, prompt to subscribe (for those not subscribed),
    links, etc. --}}

    {{!-- Latest posts section for primary tags --}}
    {{#if @custom.primary_tag_slugs}}
        <section class="home-latest gh-outer">
            <div class="gh-inner">
                <div class="latest-content">
                    {{#get "tags" filter="slug:[{{@custom.primary_tag_slugs}}]"}}
                        {{#foreach tags}}
                            {{> "latest-card"}}
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </section>
    {{/if}}

    {{!-- Exploration section for secondary tags --}}
    {{#if @custom.secondary_tag_slugs}}
        <section class="home-topics gh-outer">
            <div class="gh-inner">
                {{#get "tags" filter="slug:[{{@custom.secondary_tag_slugs}}]"}}
                    <div class="gh-topic-list">
                        {{#foreach tags}}
                            {{> "topic-exploration"}}
                        {{/foreach}}
                    </div>
                {{/get}}
            </div>
        </section>
    {{/if}}
</main>