/* Subscription section. Reference: https://github.com/TryGhost/Headline/blob/main/assets/css/screen.css */

.gh-foot {
    padding-top: 4rem;
}

/* Responsiveness adjustments for subscription section */
@media (max-width: 768px) {
    .subscription-container {
        width: 100% !important;
    }

    .subscription-container-no-border {
        width: 100% !important;
    }
}

.gh-subscribe {
    margin-top: 32px;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.subscription-container {
    width: 40%;
    padding: 24px;
    border-radius: 24px;
    background-color: transparent;
    border: 1px solid var(--color-mid-gray);
}

.subscription-container-no-border {
    width: 40%;
    padding: 24px;
    border-radius: 24px;
}

.gh-subscribe-title {
    font-size: 4.4rem;
    white-space: break-spaces;
}

.gh-subscribe-description {
    margin-top: 8px;
    font-size: 2rem;
    white-space: break-spaces;
}

.gh-subscribe-btn {
    margin-top: 16px;
    letter-spacing: -0.011em;
}

.gh-subscribe-btn:hover {
    opacity: 0.9;
}

.gh-subscribe-btn svg {
    margin-right: 6px;
}