.carousel-container {
    min-height: 400px;
    margin-top: 64px;
    margin-bottom: 48px;
}

.carousel-container .post {
    display: none;
    margin-bottom: 0;
}

.carousel-container.owl-loaded .post {
    display: block;
}

.carousel-container .post-header {
    flex-direction: column;
}

.carousel-container .post-title {
    font-size: 2rem;
    line-height: 1.2;
}

@media (max-width: 767px) {
    .carousel-container {
        margin-top: 24px;
        margin-bottom: 0;
    }
}
