.latest-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;
}

/* Styles specific to grid style sections */

.gh-topic-grid .gh-topic-name {
    margin-top: 16px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.gh-card {
    width: 100%;
    transition: transform 0.2s;
}

.gh-card:hover {
    transform: scale(1.02);
}

.gh-topic-grid .gh-card-link {
    display: flex;
    gap: 24px;
}

.gh-topic-grid .gh-card-link:hover {
    opacity: 1 !important;
}

.gh-topic-grid .gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-topic-grid .gh-card-image {
    position: relative;
    flex-shrink: 0;
    width: 128px;
    height: 100%;
}

.gh-topic-grid .gh-card-image::before {
    display: block;
    padding-bottom: 70%;
    content: "";
}

.gh-topic-grid .gh-card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.gh-topic-grid .gh-card-wrapper {
    margin-top: -3px;
}

.gh-topic-grid .gh-card-title {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.015em;
    word-break: break-word;
}

.gh-topic-grid .gh-card-excerpt {
    margin-top: 4px;
    font-size: 1.6rem;
    word-break: break-word;
}

.gh-card-footer {
    margin-top: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-card-footer > * {
    display: inline-block;
}

.gh-card-footer > * + *:not(script)::before {
    display: inline-flex;
    width: 2px;
    height: 2px;
    margin-right: 6px;
    margin-left: 4px;
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    transform: translateY(-3px);
}

.gh-topic-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gh-topic-footer {
    display: flex;
    justify-content: right;
}

.gh-topic-footer .gh-topic-link {
    color: var(--color-secondary-text);
}

.gh-topic-link {
    font-weight: 600;
    letter-spacing: -0.011em;
}

.gh-topic-link svg {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.topic-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 12px;
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
}

.topic-showcase {
    display: flex;
    flex-direction: row;
}

.topic-showcase .topic-name {
    flex: 0 0 25%;
}

.topic-showcase .topic-description {
    width: 100%;
    display: flex;
    justify-content: right;
}

.topic-posts {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px; /* Adjust the gap as needed */
}

/* Making the topic exploration vertical/columnar on smaller screens */
@media (max-width: 792px) {
    .topic-content {
        flex-direction: column;
        gap: 32px; /* Adjust gap as needed */
    }

    .topic-showcase {
        flex-direction: column;
        flex: 1; /* Allow the latest content to take full width */
        justify-items: center;
        gap: 8px;
        margin-bottom: 8px;
    }

    .topic-showcase .topic-name {
        display: flex;
        flex: 0 0 auto; /* Allow the topic name to take full width on smaller screens */
        justify-content: center;
    }

    .topic-showcase .topic-description {
        justify-content: center;
    }

    .topic-posts {
        grid-template-columns: 1fr;
        gap: 32px; /* Adjust gap as needed */
    }
}