/* Hero section */
.hero-content {
    display: flex;
    margin-bottom: 16px;
    /* Align to center */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    /* Massive title */
    font-size: 10rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 8px;
}

.hero-text p {
    /* Large description */
    font-size: 2rem;
    text-align: center;
}

.hero-buttons {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

/* Latest section */

.latest-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-bottom: 16px;
    margin-top: 32px;
}

/* If the latest content has THREE modes
(e.g., blog, podcast, video, then make the gap
between them 5% */
.latest-content:has(> :last-child:nth-child(3)) {
    gap: 5%;
}

.latest-title {
    border-bottom: 1px solid var(--color-mid-gray);
}

.latest-card {
    max-width: 300px;
}

.latest-card-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.latest-card-text h3 {
    padding-top: 8px;
}

.latest-card-title {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.latest-content .gh-card-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.latest-content .gh-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

/* Responsiveness adjustments for latest section */
@media (max-width: 768px) {
    .latest-content {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
        gap: 32px; /* Increase gap between items if needed */
    }

    .latest-card {
        max-width: 80%;
    }

    .latest-content .gh-card-image {
        margin-left: auto;
        margin-right: auto; /* Center the image horizontally */
        height: 300px;
    }
}


/* Styles specific to grid style sections */

.gh-topic-grid .gh-topic-name {
    margin-top: 16px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.gh-card {
    width: 100%;
    transition: transform 0.2s;
}

.gh-card:hover {
    transform: scale(1.02);
}

.gh-topic-grid .gh-card-link {
    display: flex;
    gap: 24px;
}

.gh-topic-grid .gh-card-link:hover {
    opacity: 1 !important;
}

.gh-topic-grid .gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-topic-grid .gh-card-image {
    position: relative;
    flex-shrink: 0;
    width: 128px;
    height: 100%;
}

.gh-topic-grid .gh-card-image::before {
    display: block;
    padding-bottom: 70%;
    content: "";
}

.gh-topic-grid .gh-card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.gh-topic-grid .gh-card-wrapper {
    margin-top: -3px;
}

.gh-topic-grid .gh-card-title {
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: -0.015em;
    word-break: break-word;
    margin-bottom: 8px;
}

.gh-topic-grid .gh-card-excerpt {
    margin-top: 4px;
    font-size: 1.6rem;
    word-break: break-word;
}

.gh-card-footer {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-card-footer > * {
    display: inline-block;
}

.gh-card-footer > * + *:not(script)::before {
    display: inline-flex;
    width: 2px;
    height: 2px;
    margin-right: 6px;
    margin-left: 4px;
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    transform: translateY(-3px);
}

.gh-topic-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gh-topic-footer {
    display: flex;
    justify-content: right;
}

.gh-topic-footer .gh-topic-link {
    color: var(--color-secondary-text);
}

.gh-topic-link {
    font-weight: 600;
    letter-spacing: -0.011em;
}

.gh-topic-link svg {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.gh-card-primary-tag {
    color: var(--primary-color);
}

.gh-card-primary-tag::before {
    color: var(--color-secondary-text);
}

.topic-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 24px;
    margin-bottom: 12px;
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
}

.topic-showcase {
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-mid-gray);
    /* Match the width of the topic title to the padding
    on the outside of the carousel */
}

.topic-showcase .topic-description {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /* Truncation in the event the description exceeds the container's width */
    white-space: nowrap;
    overflow: hidden;
}

.topic-showcase .topic-description p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic-posts {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px; /* Adjust the gap as needed */
}

/* Making the topic exploration vertical/columnar on smaller screens */
@media (max-width: 792px) {
    .topic-content {
        flex-direction: column;
        gap: 32px; /* Adjust gap as needed */
    }

    .topic-showcase .topic-name {
        display: flex;
        flex: 0 0 auto; /* Allow the topic name to take full width on smaller screens */
        justify-content: left;
    }

    .topic-posts {
        grid-template-columns: 1fr;
        gap: 32px; /* Adjust gap as needed */
    }
}